{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    {% for article in articles %}
        <div>
            <h1>{{ article.title }}</h1>
            <p>{{  article.createdAt | date('d/m/Y') }}</p>
            <div>{{ article.content }}</div>
            <img src="{{ article.image }}"/>
            <a  href="/blog/{{ article.id }}">Read more!</a>
        </div>    
        <hr>
    {% endfor %}
{% endblock %}
