{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
  <div>
      <h1>{{ article.title }}</h1>
      <div>{{ article.content }}</div>
      <img src="{{ article.image }}"/>
      <a  href="{{ path("show_blog", { id: article.id }) }}">Read more!</a>
  </div>    
  <hr>
{% endblock %}
